.title {
  padding: 0 0 20px 0;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
.content {
  padding: 20px 0;
}
.toolTipsIcon {
  font-size: 16px;
  color: #999;
  position: relative;
  top: 2px;
}
.myTag {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
:global {
  .newsAddInternal {
    .shareCardView {
      display: flex;
      padding: 10px;
      border: solid #ddd 1px;
      width: 320px;
      .shareImg {
        width: 60px;
        max-height: 60px;
      }
      .shareContent {
        margin-left: 10px;
        .shareTitle {
          line-height: 30px;
          width: 220px;
          font-size: 14px;
          font-weight: 550;
        }
        .shareSubTitle {
          line-height: 30px;
          width: 220px;
        }
      }
    }
  }
}
