:global {
  .showPosterContainer {
    .view2Header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      .addPoster {
        margin-right: 10px;
      }
    }
    .table-img {
      height: 128px !important;
    }
  }
}
